<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="https://cdn5.vectorstock.com/i/1000x1000/84/34/chips-snack-line-icon-vector-37588434.jpg" class="img-fluid rounded-start" alt="">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%=@product.name%></h5>
        <p class="card-text"><%=@product.description%></p>
        <p class="card-text">$<%=@product.price%></p>
        <p class="card-text">Stock: <%=@product.stock%></p>
        <div class='order-buy-form'>
          <%= simple_form_for([ @product, @order ]) do |f| %>
            <%= f.input :quantity, input_html: { value: 1 } %>
            <% if @product.stock? %>
              <div class='text-right mt-3'>
                <%= f.submit 'Buy', class: 'btn btn-light mx-1' %>
              </div>
            <% end %>
          <% end %>
          <% if user_signed_in? %>
            <%= simple_form_for([ @product, @review ], remote: true) do |f| %>
              <div class='text-right mt-2'>
                <%= f.button :submit, "Like", class: 'btn btn-light mx-1' %>
              </div>
              <div class='text-right mt-2'>
                <%= f.button :submit, "Dislike", class: 'btn btn-light mx-1' %>
              </div>
            <% end %>
          <% end %>
          <% if @product.reviews.exists? %>
            <%="Reviews: #{(@product.reviews.sum(:score)*100)/@product.reviews.count(:score)}%"%>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: <%="#{(@product.reviews.sum(:score)*100)/@product.reviews.count(:score)}%"%>" aria-valuenow=<%="#{(@product.reviews.sum(:score)*100)/@product.reviews.count(:score)}%"%> aria-valuemin="0" aria-valuemax="100"><%="#{(@product.reviews.sum(:score)*100)/@product.reviews.count(:score)}%"%></div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<% if user_signed_in? && current_user.Admin? %>
  <%= link_to 'Edit', edit_product_path(@product), class:'btn btn-secondary mx-1'%>
  <%= button_to "Delete", {:controller => :products,
                  :action => 'destroy', :id => @product.id }, :method => :delete,
                  class: 'btn btn-secondary mx-1' %>
  <%= @product.binnacle%>
<% end %>
</div>
</div>
</div>
