<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs form-group w-50">
    <%= f.input :first_name,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email", class:"form-control w-50 "}%>
    <%= f.input :last_name,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "name", class:"form-control w-50 " }%>
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "name", class:"form-control w-50"}%>
    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password", class:"form-control w-50"} %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password", class:"form-control w-50"} %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
