<div class="container">
  <div class="row row-cols-3">
  <% @products.each do |product|%>
    <div class="col">
        <div class="card" style="width: 18rem;">
        <%= link_to product_path(product) do %>
        <%= image_tag('https://cdn5.vectorstock.com/i/1000x1000/84/34/chips-snack-line-icon-vector-37588434.jpg', class: 'card-img-top', style: 'background-color: black;') %>
      <% end %>
        <div class="card-body">
        <h5 class="card-title"><%=product.name%></h5>
        <p class="card-text">$<%=product.price%></p>
        <a href="#" class="dropdown-item">Add to cart</a>
      </div>
    </div>
    </div>
    <% end %>
  </div>
</div>